<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title or "Kyuti.es" }}</title>

    <link rel="stylesheet" href="{{ "/css/style.css" | url }}" />
    <link rel="stylesheet" href="{{ "/css/dark.css" | url }}" />
    <link rel="stylesheet" href="{{ "/css/darkmode-toggle.css" | url }}"/>

    <link rel="icon"
          type="image/png"
          href="https://avatars.githubusercontent.com/u/43815343?v=4">

    <meta property="og:title" content="{{ title or 'Kyuti.es' }}">
    <meta property="og:url" content="https://kyuti.es/" />
    <meta property="og:image" content="https://kyuti.es/favicon.ico" />
    <meta name="theme-color" content="#B018EC">
    <meta property="og:site_name" content="Kyuti.es">

    <style>
      img.emoji {
        height: 1.1em;
        width: 1.1em;
      }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
