---
layout: 'base.njk'
show_about: true
show_hall: true
show_pages: true
---      

{% include "partials/navbar.njk" %}

<div class="toc">
    <p><strong>Table of content</strong></p>
    {% page_toc page.inputPath %}
</div>

<div class="page-content">
    {{ content | safe }}  
</div>
<div class="bottom-buffer"></div>
