---
title: "Pages Overview"
layout: base.njk
show_about: true
show_hall: true
show_pages: false
unlisted: true
---

{% include "partials/navbar.njk" %}
{% include "partials/subpages_list.njk" %}

<div class="pages-container">
    {%- for page in collections.pages | reverse -%}
      {% if not page.data.unlisted %}
        {% include "page-summary.njk" %}  
      {% endif %}
    {%- endfor -%}
</div>

<script src="{{ "/js/tilt.min.js" | url }}"></script>

