<div id="darkmode-container">
    <label class="darkmode-label" for="darkmode-switch">
        <input type="checkbox" id="darkmode-switch" />
        <div class="darkmode-sunmoon">
            <div class="darkmode-darkside"></div>
        </div>
        <div class="darkmode-clouds">
            <img src="{{ "/assets/darkmode-toggle/cloud_1.svg" | url }}" alt="" class="darkmode-cloud darkmode-cloud-1" />
            <img src="{{ "/assets/darkmode-toggle/cloud_2.svg" | url }}" alt="" class="darkmode-cloud darkmode-cloud-2" />
            <img src="{{ "/assets/darkmode-toggle/cloud_3.svg" | url }}" alt="" class="darkmode-cloud darkmode-cloud-3" />
            <img src="{{ "/assets/darkmode-toggle/cloud_4.svg" | url }}" alt="" class="darkmode-cloud darkmode-cloud-4" />
            <img src="{{ "/assets/darkmode-toggle/stars.svg" | url }}" alt="" class="darkmode-stars" />
        </div>
    </label>
</div>
