{% macro navbar(title="Kyu's Portfolio :3", showAbout=true, showHall=true) %}
<div class="nav">
    <a class="title" href="/">{{ title }}</a>
    <div class="menu">
        {% if showAbout %} <a href="/about">About Me</a> {% endif %}
        {% if showHall %} <a href="/hall">Kyuties</a> {% endif %}
        <a href="https://github.com/HeyImKyu/portfolio">Source Code</a>
    </div>
</div>
{% endmacro %}
