:root {
    --darkmode-toggle-bg-color: #cde7ff;
    --darkmode-toggle-switch-width: 50px;
    --darkmode-toggle-switch-height: 30px;
    --darkmode-toggle-switch-round: 50px;
    --darkmode-toggle-switch-padding-x: 5px;
    --darkmode-toggle-switch-bg: linear-gradient(to bottom, #73bbff, #a2d1fd);
    --darkmode-toggle-switch-dark-bg: linear-gradient(to top, #2b3347, #181d27);
    --darkmode-toggle-border-width: 2px;
    --darkmode-toggle-border-gradient: linear-gradient(to bottom, #a2d1fd, #cde7ff);
    --darkmode-toggle-border-dark-gradient: linear-gradient(to bottom, #000000, #6c7384);
    --darkmode-toggle-sunmoon-size: 20px;
    --darkmode-toggle-transition: all 0.5s ease;
    --darkmode-tooggle-border-color-light: #90C9FE;
    --darkmode-tooggle-border-color-dark: #565C6B;
}

#darkmode-container {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--darkmode-toggle-switch-round);
}

.darkmode-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--darkmode-toggle-switch-width);
    height: var(--darkmode-toggle-switch-height);
    border-radius: var(--darkmode-toggle-switch-round);
    cursor: pointer;
    transition: var(--darkmode-toggle-transition);
    background: var(--darkmode-toggle-switch-bg);
    border: var(--darkmode-toggle-border-width) solid var(--darkmode-tooggle-border-color-light);
    overflow: hidden;
}

.dark .darkmode-label {
    border: var(--darkmode-toggle-border-width) solid var(--darkmode-tooggle-border-color-dark);
}

.darkmode-label::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--darkmode-toggle-switch-round);
    opacity: 0;
    background: var(--darkmode-toggle-switch-dark-bg);
    transition: var(--darkmode-toggle-transition);
}

.dark .darkmode-label::before {
    opacity: 1;
}

.darkmode-label input {
    display: none;
}

.darkmode-sunmoon {
    position: absolute;
    width: var(--darkmode-toggle-sunmoon-size);
    height: var(--darkmode-toggle-sunmoon-size);
    border-radius: 50%;
    transition: var(--darkmode-toggle-transition);
    left: var(--darkmode-toggle-switch-padding-x);
    z-index: 1;
    background-color: #FFC187;
    box-shadow: 0px 0px 11.7px 0px #FFC187, 0px 0px 20px 0px #ffc18768, -2px -2px 5px 0px #ffab5c inset;
}

.dark .darkmode-sunmoon {
    left: calc(100% - var(--darkmode-toggle-sunmoon-size) - var(--darkmode-toggle-switch-padding-x));
    background-color: #dee5f3;
    box-shadow: 0px 0px 51.7px 0px #dee5f3;
}

.darkmode-darkside {
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #FFC187;
    transition: var(--darkmode-toggle-transition);
}

.dark .darkmode-darkside {
    background-color: #565c6b;
}

.darkmode-clouds {
    border-radius: var(--darkmode-toggle-switch-round);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.darkmode-cloud {
    position: absolute;
    width: 60%;
    transition: var(--darkmode-toggle-transition);
}

.darkmode-cloud-1 {
    bottom: -45%;
    left: 0;
}

.darkmode-cloud-2 {
    bottom: -15%;
    left: 25px;
}

.darkmode-cloud-3 {
    bottom: -20%;
    right: 0px;
}

.darkmode-cloud-4 {
    bottom: -06%;
    right: -25px;
}


.dark .darkmode-cloud-1 {
    bottom: -35%;
    left: -110px;
}

.dark .darkmode-cloud-2 {
    bottom: -15%;
    left: -110px;
    transition: all 0.7s ease;
}

.dark .darkmode-cloud-3 {
    bottom: -15%;
    right: -110px;
}

.dark .darkmode-cloud-4 {
    bottom: -5%;
    right: -110px;
    transition: all 0.7s ease;
}

.darkmode-stars {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: var(--darkmode-toggle-transition);
}

.dark .darkmode-stars {
    top: 70%;
}
