---
title: "Kyu's Kyuties :3"
layout: base.njk
---

{% from "src/partials/cards.njk" import kyuties_card %}
{% from "src/partials/navbar.njk" import navbar %}

{% include "src/partials/prettydarktoggle.njk" %}

{{ navbar(showHall=false) }}

<div class="kyuties">
  {% call kyuties_card(
    url = "https://kittygirl.online/",
    url_short = "kittygirl.online",
    name = "Nova <3",
    img_src = "https://avatars.githubusercontent.com/u/126072875",
    img_alt = "nova",
    description = "My lovely girlfriend <3"
  ) %}
  {% endcall %}

  {% call kyuties_card(
    url = "https://github.com/Daaito",
    url_short = "github.com/Daaito",
    name = "Daaito",
    img_src = "https://avatars.githubusercontent.com/u/152528470",
    img_alt = "daaito",
    description = "He thinks he's not smart, but is actually not true :3"
  ) %}
  {% endcall %}
</div>

<script src="{{ "/js/tilt.min.js" | url }}"></script>
