---
title: "Kyu's Kyuties :3"
layout: base.njk
show_about: true
show_hall: false
show_pages: true
---

{% from "partials/cards.njk" import kyuties_card %}

{% include "partials/navbar.njk" %}

<div class="kyuties">

  {% call kyuties_card(
    url = "https://github.com/Daaito",
    url_short = "github.com/Daaito",
    name = "Daaito",
    img_src = "https://avatars.githubusercontent.com/u/152528470",
    img_alt = "daaito",
    description = "He thinks he's not smart, but is actually not true :3"
  ) %}
  {% endcall %}

  {% call kyuties_card(
    url = "https://mayze-miasma.eu/",
    url_short = "mayze-miasma.eu",
    name = "Mayze",
    img_src = "https://content.mastodon.catgirl.cloud/accounts/avatars/113/698/791/244/605/757/original/2ad70776812fcb3e.png",
    img_alt = "Mayze Miasma",
    description = "Enby person thingy tinted with meows."
  ) %}
  {% endcall %}

  {% call kyuties_card(
    url = "https://git.cimbrean.de/",
    url_short = "git.cimbrean.de",
    name = "Mia",
    img_src = "https://cdn.catcatnya.com/accounts/avatars/109/346/856/481/871/150/original/63dfc953ff6fc99b.jpg",
    img_alt = "Mia",
    description = "can no longer say \"I am not a robot\" with confidence",
    button_as_link = "https://git.cimbrean.de/assets/img/button.png"
  ) %}
  {% endcall %}

  {% call kyuties_card(
    url = "https://fenixdoes.dev/",
    url_short = "fenixdoes.dev",
    name = "Maestra Fenix",
    img_src = "https://assets.chaos.social/accounts/avatars/114/236/507/724/406/857/original/0dfebe9dd3912029.jpg",
    img_alt = "Maestra Fenix",
    description = "*Forgets what she was supposed to write here*",
    button_as_link = "https://fenixdoes.dev/img/88x31/maestrafenix.png"
  ) %}
  {% endcall %}

  {% call kyuties_card(
    url = "https://portfolio.kyuti.es/",
    url_short = "portfolio.kyuti.es",
    name = "THAT'S ME !!",
    img_src = "/assets/pp.png",
    img_alt = "my profile pic :3",
    description = "HEHEHEHEH",
    button_as_link = "/assets/button.gif"
  ) %}
  {% endcall %}

</div>
<script src="{{ "/js/tilt.min.js" | url }}"></script>
