---
title: "Pages Overview"
layout: base.njk
show_about: true
show_hall: true
show_pages: false
---

{% include "partials/navbar.njk" %}

<div class="pages-container">
    {%- for page in collections.pages | reverse -%}
      {% include "page-summary.njk" %}  
    {%- endfor -%}

</div>
