---
title: "Pages Overview"
layout: base.njk
---

{% from "src/partials/navbar.njk" import navbar %}

{% include "src/partials/prettydarktoggle.njk" %}

{{ navbar(title) }}

<div class="pages-container">
    {%- for page in collections.pages | reverse -%}
      {% include "page-summary.njk" %}  
    {%- endfor -%}

</div>
